// ---------------------- Colors---------------------------------
$main-color:#A37037;
$main-color2:#484848;
$main-color3:#767676;
$main-color4:#EB7700;
$main-color5: #FAF8F4;
$main-color6:#E95B1B;
$button-color:#F7941D;

// -------------------------Font sizes---------------------------
$f-13:13px;
$f-15:15px;
$f-14:14px;
$f-16:16px;
$f-18:18px;
$f-20: 20px;
$f-24: 24px;
$f-32: 32px;
$f-48: 48px;

// -------------------------Font Family----------------------------
$ff-1:'Jost',sans-serif; 
$ff-2:'Inter',sans-serif;

// -------------------------Font Weight----------------------------
$fw-500:500;
$fw-600:600;
$fw-700:700;
